<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
  </head>
  <body ng-app="app">
    <h1>ダンモスケジュール管理</h1>
    <div ng-controller="ScheduleController as ctrl">
      <div id="new_sched">
	<h2>スケジュール追加</h2>
	<table border="1">
	  <tr>
	    <td>日時</td>
	    <td><input type="text" id="datepicker" ng-model="date"></td>
	    <td>開始<input type="text" id="begin" ng-model="begin"></td>
	    <td>終了<input type="text" id="end" ng-model="end"></td>
	  </tr>
	  <tr><td>タイトル</td><td colspan="3"><input type="text"></td></tr>
	  <tr><td>備考</td><td colspan="3"><input type="text" ng-model="desc"></td></tr>
	  <tr><td>チャージ</td><td colspan="3"><input type="text" ng-model="charge"></td></tr>
	</table>
	<button ng-click="ctrl.append()">追加</button>
      </div>
      <div id="sched_list">
	<h2>スケジュール一覧</h2>
	<table border="1">
	  <thead>
	    <tr><th>日</th><th>時</th><th>タイトル</th><th>説明</th><th>チャージ</th><th>編集</th><th>削除</th></tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="sched in ctrl.sched_list">
	      <td>{{sched.date}}</td>
	      <td>{{sched.time}}</td>
	      <td>{{sched.name}}</td>
	      <td>{{sched.desc}}</td>
	      <td>￥{{sched.charge}}</td>
	      <td><button ng-click="edit($index)">編集</td>
	      <td><button ng-click="remove($index)">削除</td>
	    </tr>
	  </tbody>
	  <tr>
	</table>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/i18n/jquery-ui-i18n.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.js"></script>
    <script>
      $.datepicker.setDefaults($.datepicker.regional['ja']);
      $('#datepicker').datepicker({ dateFormat: 'yy/mm/dd(D)' });
      $("#begin").timepicker();
      $("#end").timepicker();
    </script>
    
  </body>
</html>
